# increase limits via .htaccess (this only works when PHP is not running in CGI mode)
<IfModule mod_php7.c>
php_value max_execution_time 2400
php_value max_input_time 900
php_value post_max_size 800M
php_value memory_limit 512M
php_value upload_max_filesize 800M
php_value max_input_vars 100000
php_value max_file_uploads 5000
php_value realpath_cache_size 4M
</IfModule>