# apache 2.4
<If "%{REMOTE_ADDR} != '127.0.0.1' && %{REMOTE_ADDR} != '::1' && %{REMOTE_ADDR} != '33.33.33.1'">
AddHandler php-fastcgi5.4 .php .phtml
</If>

# apache 2.2
<IfModule !mod_win32.c>
AddHandler php-fastcgi5.4 .php .phtml
</IfModule>