/* applies to all dom elements, even to pseudo selectors */
html {
  /* handles very long words, that are not in a dictionary */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* vendor prefixes */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  /* the actual hyphenation property */
  hyphens: auto;
}

/* exclude big headlines */
h1 {
	overflow-wrap: normal;
	word-wrap: normal;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    -moz-hyphens: manual;
	hyphens: manual;
}