/* applies to all dom elements, even to pseudo selectors */
html, .hyphenate {
  /* handles very long words, that are not in a dictionary */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* vendor prefixes */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  /* the actual hyphenation property */
  hyphens: auto;
  /* minimum word lengths */
  hyphenate-limit-chars: 10 3 4;
  -ms-hyphenate-limit-chars: 10 3 4;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 4;
}

/* exclude (except &shy;) */
h1, .no-hyphenate {
	overflow-wrap: normal;
	word-wrap: normal;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    -moz-hyphens: manual;
	hyphens: manual;
}
/* exclude (including &shy;) */
h1, .no-hyphenate {
	overflow-wrap: normal;
	word-wrap: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
	hyphens: none;
}

/* you can combine the above rules to a complex rule set that differs in screen size and/or headline/texts */

/* exclude only on mobile */
@media screen and (max-width: 700px) { h1, .no-hyphenate { /* ... */ } }
/* exclude only on desktop */
@media screen and (min-width: 700px) { html, .hyphenate { /* ... */ } }

/* in some posts there are hidden(!) &shy; entities, which only can be removed with e.g. Notepad++, see the following word */
<h2>Verbraucher­streit­beilegung</h2>