/* paypal styling */
.paypal-button-container {
    font-size: 0;
}
.paypal-button-container .paypal-buttons:not(:last-child) {
    margin-bottom: 10px;
}

/* not relevant */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box {
    width: 600px;
    height: auto;
    margin: 30px auto;
    background-color: #f1f1f1;
    padding: 20px;
    max-width: 100%;
}
