header
{
    background-color:blue;
    height:100px;
    width:100%;
    position:fixed;
    transform: translateY(0);
    transition: transform 0.25s ease-in-out;
}

header.header--hidden
{
    transform: translateY(-100%);
}