.parallax {
	position:relative;
	width:100%;
	height:500px;
	overflow: hidden;
	background-color: #fff;
}
.parallax .i {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width: 100%;
	max-width:none;
	height: auto;
}
.parallax span {
	color:#fff;
	font-size:100px;
	z-index:400;
	position:relative;
}