.responsive-table-container {
    width: 100%;
    overflow-x: auto;
}
.responsive-table-container table {
    width: auto;
    min-width: 100%;
}

/* optional */
.responsive-table-container table {
 	table-layout: fixed;
}
.responsive-table-container table td {
 	min-width: 10rem;
  	width: 20%;
}