div
{
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear; // linear|ease|ease-in|ease-out|ease-in-out|step-start|step-end
    animation-delay: 2s;
    animation-iteration-count: infinite; // 1|infinite
    animation-direction: alternate; // normal|reverse|alternate|alternate-reverse
    animation-fill-mode: none; // none|forwards|backwards|both|initial|inherit
    animation-play-state: running; // paused|running|initial|inherit
  
  	// shorthand
	animation: example 5s linear 2s infinite alternate forwards;
}

@keyframes example
{
    0%
    {
      background-color: red;
    }
    100%
    {
      background-color: yellow;
    }
}