* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
.styled_inputs input[type="radio"] {
	display:none;
}
.styled_inputs input[type="radio"] + label {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  height: 40px;
  padding: 10px 0;
  padding-left: 30px;
  display: block;
  cursor:pointer;
}
.styled_inputs input[type="radio"] + label:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 50%;
}
.styled_inputs input[type="radio"] + label:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;
}
.styled_inputs input[type="radio"]:checked + label:after {
	background-color: red;
}