#sticky {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  left: 0;
  top: 0;
}
p {
  height:1500px;
}
#sticky.fixed {
  position:fixed;
}