.menu {
    width:200px;
}
.menu > ul > li {
    border:1px solid red;
	position:relative;
}
.menu > ul  > li > ul {
    display:none;
    position:absolute;
    top:0;
    left: 100%;
    width:200px;
    border:1px solid blue;
}
.menu > ul  > li > ul.hover,
.menu > ul  > li.hover > ul {
    display:block;
} 