# security addition (check: https://observatory.mozilla.org/)
Header set Strict-Transport-Security max-age=31536000
Header set X-Frame-Options "sameorigin"
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"