.filestyle {
  margin-bottom:20px;
}
.filestyle label {
  background-color: red;
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 20px;
}
.filestyle input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}