.foo {
 	width:100%;
	height:100px; 
}

/* option 1 (quirky) */
.foo {
    transform: scale(0.5);
  	transform-origin: top center;
    margin-bottom: calc((-1) * 0.5 * 100px);  
}

/* option 2 (does not work in ff, does not work on iframes or absolutely positioned elements) */
.foo {
    zoom: 0.5; 
}