.slideshow {
    position:relative;
    width:100%;
    height:100%;
}
.slideshow ul {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.slideshow ul li {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.slideshow .nav {
    position:absolute;
    top:0;
    left:50%;
    z-index:400;
}
.slideshow .nav.count_1 { margin-left:-10px; }
.slideshow .nav.count_2 { margin-left:-20px; }
.slideshow .nav.count_3 { margin-left:-30px; }
.slideshow .nav.count_4 { margin-left:-40px; }
.slideshow .nav.count_5 { margin-left:-50px; }
.slideshow .nav.count_6 { margin-left:-60px; }
.slideshow .nav.count_7 { margin-left:-70px; }
.slideshow .nav.count_8 { margin-left:-80px; }
.slideshow .nav.count_9 { margin-left:-90px; }
.slideshow .nav.count_10 { margin-left:-100px; }
.slideshow .nav a {
    display:block;
    float:left;
    background-color:#fff;
    width:20px;
    height:20px;
    line-height:20px;
    text-align:center;
}
.slideshow .nav a.active {
    color:red;
}
.slideshow .nav a.disabled {
    color:yellow;
}
.slideshow .arrow {

}
.slideshow .arrow .left,
.slideshow .arrow .right {
    position: absolute;
    top: 50%;
    width: 5%;
    height: 0;
    padding-bottom: 5%;
    background-color: #F00;
    z-index: 400;
    display: block;
    text-indent: -9999px;
}
.slideshow .arrow .left {
    left:2%;
}
.slideshow .arrow .right {
    right:2%;
}
.slideshow .arrow .disabled {
    opacity:0.25;
    cursor:default;
}
.slideshow .arrow .left:after,
.slideshow .arrow .right:after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    margin-top: -1px;
    margin-left: -1px;
    border-bottom: 2px solid #FF0;
    border-right: 2px solid #FF0;
}
.slideshow .arrow .left:after {
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.slideshow .arrow .right:after {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}