#container .box blockquote {
    background-color: #FFFFFF;
    padding: 20px 78px 15px;
    width: 80%;
    margin: 40px auto;
    position:relative;
    font-family: 'Francois One', sans-serif;
    font-size: 28px;
    line-height: 40px;
    font-style: italic;
}
#container .box blockquote:before,
#container .box blockquote:after {
	position:absolute;
	font-family: 'Francois One', sans-serif;
	font-size: 100px;
  line-height: 50px;
	color: #D6D6D6;
	text-align: center;
	width: 50px;
	width: 3.125rem;
}
#container .box blockquote:before {
	content:"“";
	top: 30px;
	left: 10px;
	font-size: 79px;
	color: #E2E2E2;
}
#container .box blockquote:after {
	content:"„";
	right: 20px;
	bottom: 40px;		
}
#container .box blockquote em {
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 28px;
}