.product-not-deliverable-note {
    border: 5px dashed $red;
    background-color: $westar;
    font-size: 16px;
    padding: 20px;
    margin: 20px 0;
}
.product-not-deliverable-note + .variations_form {
    display: none;
}