/* has attribute */
div[class] { }

/* is attribute */
div[class="foo"] { }

/* is not attribute */
div:not([class="foo"]) { }

/* contains single word */
div[class~="foo"] { }

/* starts with single word */
div[class|="foo"] { }

/* starts with */
div[class^="foo"] { }

/* ends with */
div[class$="foo"] { }

/* contains */
div[class*="foo"] { }

/* specific position selectors */
:first-child
:last-child
:nth-child()
:nth-last-child()
:first-of-type
:last-of-type
:nth-of-type()
:nth-last-of-type()
:only-child
:only-of-type
:empty
:not()

/* if is child (or subchild) of */
.foo .bar { }
/* if is direct child of */
.foo > .bar { }
/* if is next sibling */
.foo + .bar { }
/* if is any sibling coming AFTER it */
.foo ~ .bar { }