.hide-non-print {
    display: none;
}
@media print {
    @page {
        size: A4 landscape;
        margin: 1.5cm 1cm 0;
    }
    html,
    body {
        padding: 0;
        margin: 0;
    }
    .hide-non-print {
        display: block;
    }
}