<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<httpRuntime maxUrlLength="40960" maxQueryStringLength="2097151" maxRequestLength="40960" />
	</system.web>
    <system.webServer>
  		<security>
  			<requestFiltering>
  				<requestLimits maxQueryString="999999999" maxUrl="999999999" maxAllowedContentLength="512000000" />
  			</requestFiltering>
  		</security>
    </system.webServer>
</configuration>