#menu {
  position:fixed;
  top:0;
}
.box {
  width:100%;
  height:100vh;
}
.box[data-section="home"] { background-color:blue; }
.box[data-section="box1"] { background-color:yellow; }
.box[data-section="box2"] { background-color:red; }
.box[data-section="box3"] { background-color:green; }