ul {
  column-count: 5; /* this also can be understood as "max count", because column-width is present! */
  column-width: 200px; /* important for responsive: always set this to a px value (% is not supported); this is like a breakpoint */
  column-gap: 0px;
  column-rule: 1px dotted #ddd; /* default value: none */
}
li {
  break-inside: avoid-column; /* this is important to avoid bugs */
}
li.break {
  column-span: all; /* use this to break an element out of the content flow */
}