/* method 1: when parent has a fixed height */
.parent
{
  text-align: center;
  white-space: nowrap;
  font-size:0;
} 
.parent:before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.parent > *
{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size:13px;
  white-space:normal;
}


/* method 2: when parent has an unknown height */
.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* method 3: flexbox (you don't need a child here!) */
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
/* ie11 fix */
.parent, .parent > *
{
    max-width:100%;
}