# warning: this does not work on some servers (then use php version instead)
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Authorization"    
</IfModule>

# multidomain support
<IfModule mod_headers.c>
    SetEnvIf Origin "^http(s)?://(.+\.)?(localhost|tld1\.com|tld2\.com|tld3\.com)$" origin_is=$0 
    Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Authorization"
</IfModule>