$sm: 450;
$md: 768;
$lg: 1024;

/* before */
@media screen and (max-width: $sm) { .foo {} }
/* after */
foo.sm-max { }

/* before */
@media screen and (min-width: $sm) { .foo {} }
/* after */
foo.sm-min { }

/* before */
@media screen and (min-width: $sm + 1px) and (max-width: $md) { .foo {} }
/* after */
foo.md { }

/* before */
@media screen and (min-width: $sm + 1px) and (max-width: $lg) { .foo {} }
/* after */
foo.sm-md { }

/* font styles should be global (you don't want mixed font sizes) */
/* before */
@media screen and (max-width: $xl) { html { font-size:24px; } }
@media screen and (max-width: $lg) { html { font-size:20px; } }
@media screen and (max-width: $md) { html { font-size:16px; } }
@media screen and (max-width: $sm) { html { font-size:22px; } }
/* after */
html.xl-max { font-size:24px; }
html.lg-max { font-size:20px; }
html.md-max { font-size:16px; }
html.sm-max { font-size:12px; }

/* you can nest container queries inside container queries */
/* as a rule of thumb: always refer to the nearest known element */
<div data-container-queries>
    <div data-container-queries>
        <div data-container-queries>
            <div class="container" data-container-queries>
                <span class="col">1</span>
                <span class="col">2</span>
                <span class="col">3</span>
                <span class="col">4</span>
                <span class="col">5</span>
                <span class="col">6</span>
            </div>
        </div>        
    </div>        
</div>
/* so this works perfectly well */
.container.lg-max .col { background-color:red; }
/* if you want to refer from any part from the inside out to the next parent element without knowing it, you also can rely on basic css specifity */
/* this for example this does NOT work (since .lg-max could be applied from outside the nearest elment) */
.lg-max .col { background-color:red; }
/* you could fix that in being very specific [rule define every css attribute in every breakpoint] */
.xl .col { background-color:inherit; }
.lg-max .col { background-color:red; }