RewriteEngine On
RewriteCond %{HTTP_COOKIE} ab_test_vers=orig
RewriteRule ^test2\.php$ /test1.php [R=302,L]
RewriteCond %{HTTP_COOKIE} ab_test_vers=alt
RewriteRule ^test1\.php$ /test2.php [R=302,L]
RewriteCond %{HTTP_COOKIE} !ab_test_vers=([^;]+)
RewriteCond %{TIME_SEC} [02468]$
RewriteRule ^test1\.php$ /test2.php [cookie=ab_test_vers:alt:vielhuber.de,R=302,L]
RewriteRule ^test2\.php$ - [cookie=ab_test_vers:alt:vielhuber.de,L]
RewriteCond %{HTTP_COOKIE} !ab_test_vers=([^;]+)
RewriteCond %{TIME_SEC} [13579]$
RewriteRule ^test2\.php$ /test1.php [cookie=ab_test_vers:orig:vielhuber.de,R=302,L]
RewriteRule ^test1\.php$ - [cookie=ab_test_vers:orig:vielhuber.de,L]